---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from "../components/Navbar.astro";
import CardImage from "../components/CardImage.astro";
import Header from "../components/Header.astro"
import Information from "../components/Information.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Petroleo Page.">
	<main>
		<Navbar/>
		<Header/>
		<div class="row mt-4 container-fluid">
			<div class="col-lg-3 mt-2 col-md-6 col-sm-12">
				<CardImage title='Innovation in Refining' body='Explore our latest innovations in refining technology to improve the quality and performance of petroleum products....' href='si' img='Ilustración3.webp'/>
			</div>
			<div class="col-lg-3 mt-2 col-md-6 col-sm-12">
				<Card title='Offshore Exploration' body='Discover how our industry-leading technology is transforming offshore exploration.'href='si' />
			</div>
			<div class="col-lg-3 mt-2  col-md-6 col-sm-12">
				<Card title='Sustainable Solutions' body='Learn about our innovative solutions for a more sustainable and clean energy future....' href='si' />
			</div>
			<div class="col-lg-3 mt-2  col-md-6 col-sm-12">
				<CardImage title='Commitment to Safety' body='Discover how we prioritize safety in all our operations to protect our team and the environment.' href='si' img='0048.webp'/>
			</div>
		</div>	

		<Information/>
		<Footer/>
		
		
	</main>
</Layout>

<style>
body{

    background-color: #fcfcff;
  
}
</style>
