---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from "../components/Navbar.astro";
import CardImage from "../components/CardImage.astro";
import Header from "../components/Header.astro"
import Information from "../components/Information.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Petroleo Page.">
	<main>
		<Navbar/>
		<Header/>
		<div class="row mt-4">
			<div class="col-md-3  col-6">
				<CardImage title='test' body='hola' href='si' img='Ilustración3.jpg'/>
			</div>
			<div class="col-md-3 col-6">
				<Card title='test' body='hola' href='si' />
			</div>
			<div class="col-md-3 col-6">
				<Card title='test' body='hola' href='si' />
			</div>
			<div class="col-md-3 col-6">
				<CardImage title='test' body='hola' href='si' img='0048.png'/>
			</div>
		
		</div>	

		<Information/>
		<Footer/>
		
		
	</main>
</Layout>

<style>

</style>
